<div id="DiscountPrice-{{ section.id }}"></div>
<div class="discount-tag" {{ block.shopify_attributes }}>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'slide' -%}
        <span class="discount-tag__text">
          {{ block.settings.discount_title_text }}
        </span>
        {%- if section.settings.enable_dynamic_discount -%}
          ({{- dynamic_discount -}}% de desconto)
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}
</div>