<div class="installment-table__wrapper">
  <p class="installment-table__title">{% render 'icon-credit-card' %} Cartão de crédito</p>
  <table id="InstallmentTable" class="installment-table">
  <thead>
    <tr>
      <th>Parcelamento</th>
      <th>Total</th>
    </tr>
  </thead>
     <tbody>
     </tbody>
   </table>
</div>
